body{
    min-width: 1002px;
    width: 100%;
}


li{
    display: inline;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}


.header{
    width: 938px;
    margin: 0 auto;
    padding: 20px 32px 16px 32px;
}

.tutangle-logo{
    float: left;
    margin-right: 22px;
}

.search-wrapper{
    margin-top: 20px;
}

.search-bar-wrapper{
    width: 283px;
    margin-right: 7px;
    position: relative;
    display: inline;
}

.search-bar-content{
    position: relative;
}

.search-bar{
    position: relative;
    width: 255px;
    height: 20px;
    left: 6px;
    bottom: 0px;
}

.search-icon{
    position: absolute;
    top: 0px;
    right:6px;
}

.cross-icon{
    position: relative;
    right: -10px;
}
.search-input{
    width: 225px;
    position: relative;
    bottom: 6px;
}



.search-round-left{
    background-image: url(../images/search-round-left.png);
    height: 100%;
    background-position: top left;
    background-repeat: no-repeat;
}
.search-round-right{
    background-image: url(../images/search-round-right.png);
    height: 100%;
    background-position: top right;
    background-repeat: no-repeat;
}



.search-button-wrapper{
    width: 49px;
    display: inline;
    position: relative;
}

.search-button{
    width:39px;
    height: 20px;
    border: none;
    position: relative;
    left: 5px;
    top: 0px
}

.search-button-left{
    background-image: url(../images/search-button-left.png);
    height: 100%;
    background-position: top left;
    background-repeat: no-repeat;
}
.search-button-right{
    background-image: url(../images/search-button-right.png);
    height: 100%;
    background-position: top right;
    background-repeat: no-repeat;
}


.header-right-up{
    margin: 7px 0px 10px;
}

.nav{
    width: 938px;
    height: 40px; 
    margin: 0 auto;
    padding:0px 32px;
}

.nav-left li{
    margin-right: 32px;
    position: relative;
    top: 14px
}

.nav-left li a{
    height: 100%;
    padding: 15px 7px 12px 7px;
}

.topic-box-invite{
    margin-right: 32px;
}

.nav-right-wrapper{
    margin-top: 8px;
}

.nav-right-wrapper img{
    margin-right: 6px;
    position: relative;
    top: 2px;
}

.main-section{
    width: 938px;
    margin: 0 auto;
    padding: 30px 32px;
}

.aside-left{
    width: 194px;
}

.aside-heading{
    height: 27px;
    padding: 15px 12px 5px 12px;
}

.aside-content{
    padding: 12px 10px;
    overflow: auto;

}

.aside-content span{
    width: 115px;
    float: left;
}

.aside-content img{
    float: right;
    margin-top: 5px;
}


.aside-left-bottom .aside-content-wrapper{
    height: 428px;
}

.aside-left-bottom .aside-content span{
    width: 138px;
}

.section-mid-wrapper{
    width: 521px;
    margin-left: 26px;
}

.section-mid-heading{
    margin-bottom: 12px;
}

.tab-above{
    padding: 14px 0px 0px;
}

.tab-below{
    text-align: center;
    height: 28px;
}

.tab-unselected{
    width: 114px;
    margin: 10px 7px 0px;
}


.option-content{
    padding: 6.5px;
}

.body-content{
    padding: 15px 0px;
}





.aside-right .aside-content-wrapper{
    height: 564px;
}






.footer{
    width: 938px;
    padding: 19px 32px;
    margin: 0 auto;
}
